{% extends "base.html" %} {% block content %}
<div class="col-md-8 offset-md-2">
  <h2>Login</h2>
  <hr />
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Login" />
    </div>
  </form>
  <div class="form-group">
    <small>
      <a href="{% url 'social:begin' 'github' %}"> Login with Github</a>
      &nbsp;|&nbsp;
      <a href="{% url 'password_reset' %}">Reset password</a>
      &nbsp;|&nbsp;
      <a href="{% url 'register' %}">Register</a>
    </small>
  </div>
</div>

{% endblock %}
